@{
    Layout = "_Layout";
    ViewData["Title"] = "About";
}

<br />

<div class="container">
    <div class="panel panel-primary" style="height: auto">
        <div class="panel-heading" style="background-color: darkgreen; text-align:center;">
            <i class="fa fa-spinner fa-spin"></i> &nbsp; <b>ABOUT</b>
        </div>
        <div class="panel-body">
            <div style="border-bottom: 1px dot; font-family:'Times New Roman', Times, serif;">
                <h4 style="font-family:'Times New Roman', Times, serif;">
                    Kalaroa Alia (Fazil) Madrasha follows a liberal arts approach to education which nurtures fresh ideas and gives new impetus to the field of education.
                    It ensures a high quality of education and aims to meet the demands of contemporary times.
                    The medium of instruction and examination at Kalaroa Alia (Fazil) Madrasha is Science & Arts.
                    Kalaroa Alia (Fazil) Madrasha is accredited by the Grants Commission and approved by the Ministry of Education, Government of Bangladesh.
                </h4>
            </div>
            <br>
        </div>
    </div>
</div>
