@{
    ViewData["Title"] = "Admission Guidlines";
}

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary" style="height: 215px">
                    <div class="panel-heading" style="background-color: darkgreen">
                        <i class="fa fa-spinner fa-spin"></i> &nbsp; Admission Guidlines
                    </div>
                    <div class="panel-body">


                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary" style="height: 300px">
                    <div class="panel-heading" style="background-color: darkgreen">
                        <i class="fa fa-spinner fa-spin"></i> &nbsp; NOTICE BOARD
                    </div>
                    <div class="panel-body">
                        <marquee style="text-align: center;height: 153px;" behavior="scroll" direction="up" scrollamount="4" onmouseover="this.stop()" onmouseout="this.start()">
                            <ul>
                                <li>
                                    <a href="/site/notices/170890bb-5bf7-4e75-b02b-eab679f7c773/২০১৯-সালের-আলিম-ব্যবহারিক-পরীক্ষার-অভ্যন্তরিণ-ও-বহিরাগত-পরীক্ষক-তালিকা।-" title="২০১৯ সালের আলিম ব্যবহারিক পরীক্ষার অভ্যন্তরিণ ও বহিরাগত পরীক্ষক তালিকা। ">২০১৯ সালের আলিম ব্যবহারিক পরীক্ষার অভ্যন্তরিণ ও বহিরাগত পরীক্ষক তালিকা। </a>
                                </li>
                                <li>
                                    <a href="/site/notices/59f88423-907a-4855-a0fe-aadcadc36b87/২০১৯-সালের-দাখিল-পরীক্ষা-কোন-পরীক্ষার্থী-উত্তীর্ণ-না-হওয়া-মাদ্রাসা-প্রধানদের-কারণ-দর্" title="২০১৯ সালের দাখিল পরীক্ষা কোন পরীক্ষার্থী উত্তীর্ণ না হওয়া মাদ্রাসা প্রধানদের কারণ দর্...">২০১৯ সালের দাখিল পরীক্ষা কোন পরীক্ষার্থী উত্তীর্ণ না হওয়া মাদ্রাসা প্রধানদের কারণ দর্...</a>
                                </li>
                                <li>
                                    <a href="/site/notices/86fffaae-4558-4cee-98e5-2943399b1a63/দাখিল-পরীক্ষার-ফল-পুননিরীক্ষণের-আবেদন-সংক্রান্ত-বিজ্ঞপ্তি।-" title="দাখিল পরীক্ষার ফল পুন:নিরীক্ষণের আবেদন সংক্রান্ত বিজ্ঞপ্তি। ">দাখিল পরীক্ষার ফল পুন:নিরীক্ষণের আবেদন সংক্রান্ত বিজ্ঞপ্তি। </a>
                                </li>
                                <li>
                                    <a href="/site/notices/986f8ae8-7418-4590-b987-f41c5a28c545/জনাব-মোঃ-সফি-উল্যার-ইন্ডিয়া-ভিসা-প্রাপ্তির-অনুমতিপত্র।-" title="জনাব মোঃ সফি উল্যার ইন্ডিয়া ভিসা প্রাপ্তির অনুমতিপত্র। ">জনাব মোঃ সফি উল্যার ইন্ডিয়া ভিসা প্রাপ্তির অনুমতিপত্র। </a>
                                </li>
                                <li>
                                    <a href="/site/notices/0862fffe-f41e-40a1-989a-54d257c4a568/-২০১৯-সালের-দাখিল-পরীক্ষার-ফল-প্রকাশ-সংক্রান্ত-বিজ্ঞপ্তি।-" title=" ২০১৯ সালের দাখিল পরীক্ষার ফল প্রকাশ সংক্রান্ত বিজ্ঞপ্তি। "> ২০১৯ সালের দাখিল পরীক্ষার ফল প্রকাশ সংক্রান্ত বিজ্ঞপ্তি। </a>
                                </li>
                            </ul>
                        </marquee>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="panel panel-primary" style="height: 350px">
                    <div class="panel-heading" style="background-color: darkgreen">
                        <i class="fa fa-spinner fa-spin"></i> &nbsp; Photo Gallery
                    </div>
                    <div class="panel-body">
                        <p>Click on the images to enlarge them.</p>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="~/images/2 (1).jpg" target="_blank">
                                        <img src="~/images/2 (1).jpg" alt="Lights" style="width:100%">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="~/images/4 (1).jpg" target="_blank">
                                        <img src="~/images/4 (1).jpg" alt="Nature" style="width:100%">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="~/images/3 (1).jpg" target="_blank">
                                        <img src="~/images/3 (1).jpg" alt="Fjords" style="width:100%">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="~/images/1 (1).jpg" target="_blank">
                                        <img src="~/images/1 (1).jpg" alt="Fjords" style="width:100%">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>