@model Kalaroa_Alia_Madrasha.Models.Admission

@{
    @*Layout = "_LayoutForAccount";*@
    ViewData["Title"] = "New Admission";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kalaroa_Alia_Madrasha</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    *@
</head>
<body style="background-color: darkgray;align-content: center; font-family: 'Times New Roman', Times, serif;">
    <div class="container" style="width: 40%;">
        <form asp-area="Account" asp-controller="Account" asp-action="EditAdmissionFee" method="post">
            <div asp-validation-summary="All"></div>
            <h2 style="text-align: center;">Update Student Admission Fee</h2>
            <hr />

            <div class="form-group">
                <label asp-for="AdmissionId"></label>
                <input asp-for="AdmissionId" class="form-control" readonly />
                <span asp-validation-for="AdmissionId"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentId"></label>
                <input asp-for="StudentId" class="form-control" />
                <span asp-validation-for="StudentId"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdmissionFees"></label>
                <input asp-for="AdmissionFees" class="form-control" />
                <span asp-validation-for=" AdmissionFees"></span>
            </div>
            <div class="form-group">
                <label asp-for="LibraryFee"></label>
                <input asp-for="LibraryFee" class="form-control" />
                <span asp-validation-for="LibraryFee"></span>
            </div>
            <div class="form-group">
                <label asp-for="LaboratoryFee"></label>
                <input asp-for="LaboratoryFee" class="form-control" />
                <span asp-validation-for="LaboratoryFee"></span>
            </div>
            <div class="form-group">
                <label asp-for="FixedAmount"></label>
                <input asp-for="FixedAmount" class="form-control" />
                <span asp-validation-for="FixedAmount"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayAmount"></label>
                <input asp-for="PayAmount" class="form-control" />
                <span asp-validation-for="PayAmount"></span>
            </div>

            <input type="submit" class="btn-primary" value="UPDATE" />
        </form>
    </div>
</body>
</html>
