@model Kalaroa_Alia_Madrasha.Models.StudentAccount
@{
    @*Layout = "_LayoutForAccount";*@
    ViewData["Title"] = "Student Account";
}

<h1 style="text-align: center;">Student Account Details</h1>

<div class="container">
    <table border="1" class="table table-bordered" cellpadding="1" cellspacing="1">
        <thead>
            <tr>
                <td style="text-align:center; font-weight: bold;">Student Id</td>
                <td style="text-align:center; font-weight: bold;">Student Name</td>
            </tr>
        </thead>

        <tr>
            <td style="text-align:center">@Model.StudentId</td>
            <td style="text-align:center">@Model.StudentName</td>
        </tr>
    </table>
</div>