@model Kalaroa_Alia_Madrasha.Models.Actor
@{

    ViewData["Title"] = "Actor";
}
<h1 style="text-align: center;font-family: 'Times New Roman', Times, serif">WELCOME TO ACTOR PAGE</h1>
<br />
<br />

<p>
    <h2 style="text-align: center;font-family: 'Times New Roman', Times, serif">
        You Can See The Actor List If You have Any Account Otherwise You Have To Contact With Administration.<br>
        Thank You.
    </h2>
</p>
