@model Kalaroa_Alia_Madrasha.Models.Teacher
@{
    Layout = "_LayoutForTeacher";
    ViewData["Title"] = "Teacher";
}
<h1 style="text-align: center;font-family: 'Times New Roman', Times, serif">WELCOME TO TEACHER'S PANEL</h1>
<br />
<br />

<p>
    <h2 style="text-align: center;font-family: 'Times New Roman', Times, serif">
        You Can See The Teacher List If You have Any Account Otherwise You Have To Contact With The Administration.<br>
        Thank You.
    </h2>
</p>
